p {
    font-family: Arial, Helvetica, sans-serif;
}

pre {
    white-space: pre-wrap;     
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;    
    white-space: -o-pre-wrap;  
    word-wrap: break-word;
    /* font-size: 40px; */
    font-family: 'Courier New', Courier, monospace;
}

h1,
h2 {
    color: blue;
}

.code-snippet-box {
    background-color: rgb(237, 210, 214);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 5px;
    flex-wrap: nowrap;
}

.code-snippet-box-si {
    font-size: 22px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    @media (min-width: 768px) {
        font-size: 26px;
        width: 40px;
        height: 40px;   
        border-radius: 20px;
    };
    @media (min-width: 1200px) {
        font-size: 30px;
        width: 50px;
        height: 50px;
        border-radius: 25px;
    };

    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-shrink: 0;
}

.code-snippet-box-content {
}

.problem-statement-main-box,
.code-snippet-box-content {
    padding-left: 30px;
    
    font-size: 16px;
    @media (min-width: 768px) {
        font-size: 18px;
    };
    @media (min-width: 1200px) {
        font-size: 20px;
    };
}

.problem-statement-sub-box {
    margin-left: 20px;
}