body {
    margin-top: 90px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    right: 0;
    height: 70px;
    color: white;
    display: flex;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid lightgray;
    z-index: 10;
    background-color: white;
    z-index: 100;
}

.logo-image {
    height: 40px;
    padding-left: 20px;
}

.waterdrop-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.1;
}

.waterdrop {
    width: 100%;
    z-index: -1;
}

.waterdrop img {
    width: 100%;
    height: auto;
}