body {
    margin-top: 90px;
}

.waterDrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    right: 0;
    height: 70px;
    color: white;
    display: flex;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid lightgray;
    z-index: 10;
    background-color: white;
}

.logo-image {
    height: 40px;
    padding-left: 20px;
}